#body_form{
    margin: 10 px;
    height: 150px;
}

.formi{
    padding: 14px 20px;
    margin: 4px 4px;
    border: 2px solid black;
    border-radius: 4px;
}

.formb{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 4px 4px;
    border: 2px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}

.formb:hover{
    background-color: #45a049;
}

.formt{
    border: 2px solid black;
    border-radius: 4px;
    
}

