.Login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btnl{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 8px;
    border: 2px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}

.logi{
    padding: 14px 20px;
    margin: 8px 8px;
    border: 2px solid black;
    border-radius: 4px;
}

.btnl:hover{
    background-color: #45a049;
}