table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 80%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #4CAF50;
  color: white;
}

#profil_body {
  text-align: center;
  height: 100%;
}

#posted_table{
  float: left;
  width: 50%;
}

#accepted_table{
  float: right;
  width: 50%;
}

.rethome{
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 8px;
  border: 2px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
}

.rethome:hover{
  background-color: #45a049;
}

#home{
  position: fixed;
  top: 0;
  right: 0;
}

.btncomplete{
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 8px 8px 0;
  border: 2px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.btncomplete:hover{
  background-color: #45a049;
}

.minibtn{
  background-color: #4CAF50;
  color: white;
  padding: 5px 10px;
  margin: 8px 8px 8px 0;
  border: 2px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
}

.minibtn:hover{
  background-color: #45a049;
}
